:root {
    --header-height: 68px;
    --content-width: 100%;
    --icon-size: 40px;
    --status-width: 3px;
    --border-radius: 6px;


    --block-bg: #FFFFFF;
    --global-bg: #FFFFFF;

    --b-shadow-color: rgba(13, 63, 103, 0.14);
    --l-shadow-color: rgba(13, 63, 103, 0.10);

    --primary-color: #0D3F67;
    --secondary-color: #37414880;


    --placeholder-color: #37414880;

    --h-color: #3A4248;
    --p-color: #20282F;
    --h-text-weight: 600;

    --task-prim: #FFFFFF;
    --task-secu: #0D3F67;
    --task-tres: #6B48FF;
    --task-quad: #1EE3CF;
}

.dark-theme {
    --block-bg: #595959;
    --global-bg: #252525;

    --b-shadow-color: rgba(255, 255, 255, 0.12);
    --l-shadow-color: rgba(255, 255, 255, 0.1);

    --h-color: #FFFFFF;
    --p-color: #CCCCCC;

    --task-done: #1EE3CF;
    --task-future: #6B48FF;

    --primary-color: #FFFFFF;
    --secondary-color: #B9BBBD80;
    --placeholder-color: rgba(240, 240, 240, 0.5);;

}

.dark-only {
    display: none;
}

.dark-theme .dark-only {
    display: block;
}

.dark-theme .light-only {
    display: none;
}


@font-face {
    font-family: "SF UI Display"; /* Гарнитура шрифта */
    src: url(static/Fonts/sf-ui-display/sf-ui-display-medium.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "SF UI Text"; /* Гарнитура шрифта */
    src: url(static/Fonts/sf-ui-text/SFUIText-Regular.ttf); /* Путь к файлу со шрифтом */
}

html {
    /* Эффекты*/
    --b-shadow: 0 0.25rem 0.75rem var(--b-shadow-color);
    --l-shadow: 0 0.1rem 0.25rem var(--l-shadow-color);

    font-family: "SF UI Text", Arial, sans-serif;
    font-size: 16px;
    background: var(--global-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "SF UI Display", Arial, sans-serif;
    font-weight: var(--h-text-weight);
    letter-spacing: .03em;
    color: var(--h-color);
    line-height: 1.5rem
}

body {
    background: var(--global-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 .75rem;
}

p {
    padding-top: 5px;
    color: var(--p-color);
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

.svg-fill svg rect {
    fill: var(--primary-color);
    stroke: var(--primary-color);
    color: var(--primary-color);
}

button {
    background: none;
    border: none;
    height: var(--icon-size);
    widows: var(--icon-size);
    padding: 0;
    cursor: pointer;
    margin-left: 0.75rem;
}

button img {
    height: 100%;
}

button svg {
    height: 100%;
}

.primary-btn {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.secondary-btn {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
}

textarea {
    resize: vertical;
    box-sizing: border-box;
    border: none;
    background: var(--block-bg);
    line-height: 1.5rem;
    padding: 0;
    margin: .5rem .5rem 0 .5rem;
    width: calc(100% - 1rem)
}

input {
    border: none;
    font-family: inherit;
    background: none;
    font-size: 1rem;
    color: var(--p-color);
}

input::-ms-clear {
    display: none;
}

input::-webkit-search-cancel-button {
    display: none;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
}

:focus {
    outline: 0;
}

.textarea_S {
    font-family: "SF UI Display", Arial, sans-serif;
    font-weight: var(--h-text-weight);
    font-size: 1.25rem;
    letter-spacing: .03em;
    resize: none;
    color: var(--h-color);
}

.textarea_M {
    font-family: "SF UI Text", Arial, sans-serif;
    font-size: 1rem;
    color: var(--p-color);
}


header {
    height: var(--header-height);
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    box-sizing: border-box;
    height: var(--icon-size);
    padding: 4px;
    align-content: center;
}

.logo h1 {
    display: inline;
    align-self: center;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;

    color: var(--primary-color);
    opacity: 0.7;
}

.logo svg {
    align-self: center;
    fill: var(--primary-color);
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu__search {
    display: inline-flex;
    align-content: center;
}

.input__clear {
    height: 1rem;
    align-self: center;
    margin: 0;
}

.header-menu__search_collapsed input,
.header-menu__search_collapsed .input__clear {
    display: none;
}


main {
    width: var(--content-width);
}

.new-note {
    padding: .5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--b-shadow);
    background: var(--block-bg);
    margin-bottom: 1.25rem;
}

.new-note__action-panel {
    display: flex;
    justify-content: space-between;
    height: var(--icon-size);
}

.color-picker {
    margin: calc(var(--icon-size) * 0.2);
    width: calc(var(--icon-size) * 0.6);
    height: calc(var(--icon-size) * 0.6);
    border-radius: var(--icon-size);
    border: 2px solid var(--secondary-color);
    background: var(--task-prim);
}

.notes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.notes__note {
    position: relative;
    background: var(--block-bg);
    padding: 1rem 1.5rem 1.5rem 1rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-shadow: var(--l-shadow);
    margin-bottom: .75rem;
}

.notes__note::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background: red;
}

.notes__note_prim::before {
    background: var(--task-prim);
}

.notes__note_secu::before {
    background: var(--task-secu);
}

.notes__note_tres::before {
    background: var(--task-tres);
}

.notes__note_quad::before {
    background: var(--task-quad);
}

@media screen and (min-width: 800px) {
    :root {
        --content-width: 800px;
    }

    body {
        padding: 0;
    }
}