:root {
    --header-height: 72px;
    --content-width: 800px;
    --icon-size: 40px;
    --side-margin: 16px;


    --block-bg: #FFFFFF;
    --global-bg: #FFFFFF;

    --gray50: #37414880;

    --btn-primary: #0D3F67;

    --h-color: #3A4248;
    --p-color: #20282F;

    --task-done: #1EE3CF;
    --task-future: #6B48FF;
}

.dark-theme{
    --block-bg: #22272b;
    --global-bg: #171c20;

    --h-color: #d0d0d0;
    --p-color: #bfbfbf;

    --task-done: #1EE3CF;
    --task-future: #6B48FF;
}

@font-face {
    font-family: "SF UI Display"; /* Гарнитура шрифта */
    src: url(static/Fonts/sf-ui-display/sf-ui-display-medium.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "SF UI Text"; /* Гарнитура шрифта */
    src: url(static/Fonts/sf-ui-text/SFUIText-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0;
    font-family: "SF UI Text", Arial, sans-serif;
    font-size: 17px;
    background: var(--global-bg);
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}
p {
    color: var(--p-color);
}


.active-btn {
    cursor: pointer;
}

.action-menu {
    height: var(--icon-size);
    margin: 0;
    padding: 0;
    float: right;
}

.action-menu li {
    display: inline-block;
    float: right;
    height: var(--icon-size);
}

header {
    box-sizing: border-box;
    height: var(--header-height);
    padding: calc((var(--header-height) - var(--icon-size)) / 2) 0;
    margin: 0 calc((100% - var(--content-width)) / 2);
}

.img-btn {
    height: var(--icon-size);
}

header .logo {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    height: var(--icon-size);
    padding: calc(var(--icon-size) / 10);
    margin: 0;


}

header .logo img {
    height: calc(var(--icon-size) * 0.8);
    margin: 0;
}

header .action-menu {
    width: 70%;
}

header .action-menu li {
    margin-left: 12px;
}

.content {
    margin: 0 calc((100% - var(--content-width)) / 2);
}

.new-note {
    background: var(--block-bg);
    box-shadow: 0 4px 12px rgba(13, 63, 103, 0.14);
    border-radius: 6px;
    padding-bottom: 10px;
}

.new-note input, textarea {
    border: none;
    width: calc(100% - 2*var(--side-margin));
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    padding: 0;
    background: none;
}


.nn-title {
    font-family: "SF UI Display", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: var(--h-color);
    margin-top: 15px
}

.nn-title ::placeholder{
    color: var(--gray50);
}

.nn-text {
    font-family: "SF UI Text", Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: var(--p-color);
    margin-top: 5px;
    resize: vertical;
    min-height: 72px;
}

.nn-text ::placeholder{
    color: var(--gray50);
}


.new-note .actions {
    height: var(--icon-size);
    margin: 6px calc(var(--side-margin)/2) 0 calc(var(--side-margin)/2) ;
}
.new-note .actions .color-menu {
    height: var(--icon-size);
    width: 30%;
    margin: 0;
    float: left;
}
.new-note .actions .action-menu{
    height: var(--icon-size);
    width: 70%;
    margin: 0;
}
.new-note .actions .action-menu li {
    margin-left: 16px;
}


.task-list{
    list-style-type: none;
    padding: 0;
}

.task {
    margin-top: 16px;
    box-shadow: 0 2px 5px rgba(13, 63, 103, 0.1);
    border-radius: 0 10px 10px 0;
}

.task-status{
    width: 3px;
    height: inherit;
    margin: 0;
    float: left;
    display: inline-block;
}

.ts-future {
    background: var(--task-future);
    color: var(--task-future);
}
.ts-done {
    background: var(--task-done);
    color: var(--task-future);
}

.task-content {
    background: var(--block-bg);
    border-radius: 0 6px 6px 0;
    padding: 17px calc(var(--side-margin)) 22px calc(var(--side-margin) - 3px);
    margin: 0 0 0 3px;
    width: calc(100% - var(--side-margin)*2);
}
.task-content h3 {
    font-family: "SF UI Display", Arial, sans-serif;
    margin: 0 0 5px 0;
}
.task-content p {
    margin: 0;
}

