.input::-ms-clear {
    display: none;
}

.input::-webkit-search-cancel-button {
    display: none;
}

.search {
    display: flex;
}

.clear-btn{
    align-self: center;
    margin: 0;
    cursor: pointer;
}

.clear-btn:focus{
    outline: none;
}
