.content{

    width: calc(100% - 20px);
    padding: 0 10px;

}

@media screen and (min-width: 840px) {
    .content{
        width: 800px;
        margin: auto;

    }

    body {
        padding: 0;
    }
}